<div class="panel panel-default panel-v-full">
	
	<div class="panel-header">
		Dashboard :	
	</div>


	<div class="panel-body" *ngIf="data">


		<table class="table bill-tbl">
		    <thead>
		      <tr>
		        <th>Req id</th>
		        <th>Cust id</th>
		        <th>Time</th>
		        <th>Status</th>
		        <th>Driver Id</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr *ngFor="let request of data">
		        <td>{{request._id}}</td>
		        <td>{{request.user_id}}</td>
		        <td>{{getTime(request.request_start_time)}}</td>
		        <td>{{getStatus(request.request_status)}}</td>
		        <td>{{request.driver_id}}</td>
		      </tr>
		    </tbody>
		</table>    
		<!-- <div class="row" *ngFor="let request of data">
			<p>
				Req id : {{request._id}}
			</p>
			<p>
				Cust id : {{request.user_id}}
			</p>
			<p>
				{{getTime(request.request_start_time)}}
			</p>
				
		</div> -->
	</div>	
</div>