<div class="panel panel-default panel-v-full">
	<div class="panel-header">
		Add Drivers :	
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="form-group">
				<label>
					Driver Id :
				</label>
				<input type="text" [(ngModel)]="driverid">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label>
					Driver X :
				</label>
				<input type="text" [(ngModel)]="driverx">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label>
					Driver Y :
				</label>
				<input type="text" [(ngModel)]="drivery">
			</div>
		</div>
		<div class="row">
			<button (click)="addDriver()" class="btn btn-primary">
				Add
			</button>
		</div>	
	</div>
</div>		
