<div class="panel panel-default panel-v-full">
	<div class="panel-header">
		Ride Now :	
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="form-group">
				<label>
					User Id :
				</label>
				<input type="text" [(ngModel)]="userid">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label>
					User X :
				</label>
				<input onkeypress=' return event.charCode >= 48 && event.charCode <= 57 ' type="text" [(ngModel)]="userx">
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label>
					User Y :
				</label>
				<input onkeypress=' return event.charCode >= 48 && event.charCode <= 57 ' type="text" [(ngModel)]="usery">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-offset-sm-3">
				<button (click)="checkTraffic(1)" class="btn btn-primary">
					RideNow v1
				</button>
			</div>
			<div class="col-sm-3 col-offset-sm-3">
				<button (click)="checkTraffic(2)" class="btn btn-primary">
					RideNow v2
				</button>
			</div>
		</div>
		<div class="row" *ngIf="message">
			<h1>{{message}}</h1>
		</div>	
	</div>
</div>		
