<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li [ngClass]="tab == 0 ? 'active' : '' "><a (click) = "tabChange(0)" >Pending</a></li>
      <li [ngClass]="tab == 1 ? 'active' : '' "><a (click) = "tabChange(1)">OnGoing</a></li>
      <li [ngClass]="tab == 2 ? 'active' : '' "><a (click) = "tabChange(2)">Completed</a></li>
    </ul>
  </div>
</nav>




<div class="panel panel-default panel-v-full">
	
	<div class="panel-body" *ngIf="data">


		<table class="table bill-tbl">
		    <thead>
		      <tr>
		        <th>Req id</th>
		        <th>Cust id</th>
		        <th>Time</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr *ngFor="let request of data">
		        <td>{{request._id}}</td>
		        <td>{{request.user_id}}</td>
		        <td>{{getTime(request.request_start_time)}}</td>
		        <td><button (click)="requestSelected(request)" *ngIf="request.request_status==0" class="btn btn-primary">
				Select
			</button></td>
		      </tr>
		    </tbody>
		</table>    
		<!-- <div class="row" *ngFor="let request of data">
			<p>
				Req id : {{request._id}}
			</p>
			<p>
				Cust id : {{request.user_id}}
			</p>
			<p>
				{{getTime(request.request_start_time)}}
			</p>
				
		</div> -->
	</div>	
</div>



