<div class="modal-header">
      <h4 class="modal-title">Alert</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	{{message}}
</div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close(false)">Cancel</button>
      <button type="button" class="btn btn-secondary" (click)="close(true)">Ok</button>
</div>
 